$xs-btn-padding: 1rem 1.4rem;
$xs-btn-font-size: 1rem;
$xs-btn-border-radius: 0.25rem;

$sm-btn-padding: 1.2rem 2rem;
$sm-btn-font-size: 1.2rem;
$sm-btn-border-radius: 0.375rem;

$md-btn-padding: 1.4rem 2.4rem;
$md-btn-font-size: 1.4rem;
$md-btn-border-radius: 0.5rem;

$lg-btn-padding: 1.8rem 2.8rem;
$lg-btn-font-size: 1.6rem;
$lg-btn-border-radius: 0.625rem;

$xl-btn-padding: 2rem 3.2rem;
$xl-btn-font-size: 1.8rem;
$xl-btn-border-radius: 0.75rem;
