$sm-switch-track-width: 1.375rem;
$sm-switch-track-height: 0.75rem;
$sm-switch-thumb-width: 0.75rem;
$sm-switch-thumb-height: 0.75rem;

$md-switch-track-width: 1.875rem;
$md-switch-track-height: 1rem;
$md-switch-thumb-width: 1rem;
$md-switch-thumb-height: 1rem;

$lg-switch-track-width: 2.875rem;
$lg-switch-track-height: 1.5rem;
$lg-switch-thumb-width: 1.5rem;
$lg-switch-thumb-height: 1.5rem;
