$primary: #fe2c55;
$primary-dark: #d60032;
$primary-light: #ff5c83;

$secondary: #00b4d8;
$secondary-dark: #0083a7;
$secondary-light: #33d1f5;

$tertiary: #f9a602;
$tertiary-dark: #c67d00;
$tertiary-light: #ffc933;

$black: #000;
$white: #fff;

$text-color: #161823;
