$default: #000000;
$default-light: #333333;
$default-dark: #000000;

$danger: #fe2c55;
$danger-dark: #d60032;
$danger-light: #ff5c83;

$info: #00b4d8;
$info-dark: #0083a7;
$info-light: #33d1f5;

$warning: #f9a602;
$warning-dark: #c67d00;
$warning-light: #ffc933;

$success: #00d68f;
$success-dark: #00a35b;
$success-light: #33f5b8;

$black: #000;
$white: #fff;

$text-color: #161823;
