$default-layout-header-height: 3.75rem;
$default-layout-spacing: 1rem;
$default-layout-width: 72rem;
$default-layout-sidebar-width: 35rem;
$default-layout-horizontal-spacer: 2.4rem;

$full-layout-horizontal-spacer: 1.2rem;

$search-border-radius: 5.75rem;
$search-height: 2.875rem;
$search-width: 30rem;
$search-top-spacer: 0.5rem;
$search-button-width: 3.25rem;
