$default-layout-header-height: 60px;
$default-layout-width: 1150px;
$default-layout-sidebar-width: 35rem;
$default-layout-horizontal-spacer: 2.4rem;

$full-layout-horizontal-spacer: 1.2rem;

$search-border-radius: 92px;
$search-height: 46px;
$search-top-spacer: 9px;
$search-button-width: 52px;
