$default-layout-header-height: 60px;
$default-layout-width: 1150px;
$default-layout-horizontal-spacer: 24px;

$search-border-radius: 92px;
$search-height: 46px;
$search-top-spacer: 9px;
$search-button-width: 52px;
